name: CD - Deploy backend to AKS

on:
  push:
    branches:
      - main
    paths:
      - "k8s/**"
      - ".github/workflows/deploy-aks.yml"

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      RESOURCE_GROUP: ${{ secrets.RESOURCE_GROUP }}
      AKS_NAME:       ${{ secrets.AKS_NAME }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Login en Azure
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Fix problema API version
      - name: Fix Azure CLI dynamic extension
        run: |
          az config set extension.use_dynamic_install=yes_without_prompt

      # Obtener credenciales de AKS
      - name: Get AKS credentials
        run: |
          az aks get-credentials \
            --resource-group $RESOURCE_GROUP \
            --name $AKS_NAME \
            --overwrite-existing

      # Deploy Kubernetes manifests
      - name: Deploy to AKS
        run: |
          kubectl apply -f k8s/

      # Verificar rollout
      - name: Verify deployment
        run: |
          kubectl rollout status deployment/backend
